<%- include("../partials/htmlBoiler.ejs", {metaData: meta, cssStyles:style}) %>
<%- include("../partials/navBar.ejs", {home:homePage, contact:contactPAge, blog:blogPage, funzone:funzonePage}) %> 
<%- include("../partials/header.ejs", {headerText: meta.headerText}) %> 

<hr>
<div class="flexRow">
        <div class="firstContentRow col-6" id="resultSectionQuestion">
            <h3 style="text-align: center;" class="col-12"> Send questions for vilma or other feedback about web site. Please
                rebort bugs and broken links too! </h3>
            <form action="contact" method="POST">
                <input type="hidden" name="_csrf" value=<%=csrfToken%> >
                <div class="marginBottom">
                    <p>* marked items are required</p>
                    <div class="col-5 DIVStepOne">
                        <label for="headline">Headline: *</label>
                    </div>
                    <div class="col-5 DIVStepOne">
                        <input name="headLine" class="col-12" id="headline" type="text" maxlength="20"
                            placeholder="max length 20 char" required>
                    </div>
                </div>
                <div class="marginBottom">
                    <div class="col-5 DIVStepOne">
                        <label for="type">Type of feedback: *</label>
                    </div>
                    <div class="col-5 DIVStepOne">
                        <select name="type" class="col-12" name="" id="type" required>
                            <option disabled selected value="">-- select a type</option>
                            <option value="bug">Bug report</option>
                            <option value="question">Question</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="marginBottom">
                    <div class="col-5 DIVStepOne">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-5 DIVStepOne">
                        <input name="email" class="col-12" id="email" type="email" maxlength="254"
                            placeholder="fill only if you want response">
                    </div>
                </div>
                <div class="marginBottom">
                    <div class="col-5 DIVStepOne alignTop">
                        <label for="message">Your message: *</label>
                    </div>
                    <div class="col-5 DIVStepOne">
                        <textarea name="message" style="resize: none;" class="col-12" id="message" type="text"
                            minlength="20" maxlength="400" rows="10" required></textarea>
                    </div>
                </div>
                <div class="col-11 flex">
                    <div id="recaptchaWrapper" class="col-5">
                        <div class="g-recaptcha" data-sitekey="6LdnylQaAAAAANz38pkiwOYPOI31FeMAWPiHfMVh"></div>
                    </div>
                    <div class="col-4 submitDiv">
                        <button id="subMitFormBtn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
</div>
<hr>
<%- include("../partials/footer.ejs", {scripts: scriptArray}); %>
