<%- include("../partials/htmlBoiler.ejs", {metaData: meta, cssStyles:style}) %>
<%- include("../partials/navBar.ejs", {home:homePage, contact:contactPAge, blog:blogPage, funzone:funzonePage}) %> 

    <%- include("../partials/header.ejs") %>
        <!--Content-->
        <div class="flexRow">
            <hr>
        </div>
        <div class="flexRow content">
            <%- include("../partials/ad.ejs") %>
                <div class="firstContentRow col-3" id="resultSectionQuestion">
                    <a id="minimizeWeather">minimize</a>
                    <h3>Ask how Vilma feels about weather outside!</h3>
                    <div id="form" class="formStyle">
                        <label for="place">Write name of the town</label>
                        <br />
                        <input type="text" id="place" placeholder="Seinäjoki" required>
                        <br />
                        <button class="submitBTN" id="submitBTN" disabled><i class="fa fa-search-location"></i></button>
                        <p id="waitWeatherResponse"><i class="fas fa-spinner"></i></p>
                    </div>
                </div>
                <div class="firstContentRow col-3 hide" id="resultSection">
                    <h3>Here is the weather</h3>
                    <p class="paragraphHeader" id="result"></p>
                    <p class="paragraphText" id="resultText"></p>
                    <p class="paragraphHeader" id="humidityResult"></p>
                    <p class="paragraphText" id="humidityResultText"></p>
                    <p class="paragraphHeader" id="windResult"></p>
                    <p class="paragraphText" id="windResultResultText"></p>
                    <div>
                        <h4 id=catverdict>
                            </h5>
                    </div>
                </div>
                <%- include("../partials/ad.ejs") %>
                
        </div>
        <hr>
        <%- include("../partials/footer.ejs", {scripts: scriptArray}); %>