<%- include("../partials/htmlBoiler.ejs", {metaData: meta, cssStyles:style}) %>
<%- include("../partials/navBar.ejs", {home:homePage, contact:contactPAge, blog:blogPage, funzone:funzonePage}) %> 

<%- include("../partials/header.ejs", {headerText: meta.headerText}) %> 
        <!--Content-->
        <hr class="col-10">
        <div class="col-10 cardContainer">
                <%- include("../partials/appCard.ejs", {name: "weatherApp", description:"Ask Vilma bot how she feels about weather! App also gives you usefull facts and of course weather opinion from vilma!", img:"https://images.unsplash.com/photo-1534794048419-48e110dca88e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=948&q=80", imgAlt:"Weather app image"}); %> 
        </div>
        <hr class="col-10">
<%- include("../partials/footer.ejs", {scripts: scriptArray}); %>